.git/
.dvc/
venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
data/
*.db
.ruff_cache/
*.toml
*.md
media/
chroma_db/
.env
logs/
dist/
build/
mlruns/
*.csv
*.pkl
*.model
*.egg-info/
.idea/
.vscode/
.DS_Store
.pytest_cache/
.mypy_cache/
.coverage
.github/
docker-compose*.yml
weights/